.elementor-431 .elementor-element.elementor-element-b16cf53 > .elementor-container{max-width:1172px;}.elementor-431 .elementor-element.elementor-element-7c057d9{--spacer-size:80px;}.elementor-431 .elementor-element.elementor-element-8ea2cb1 > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-431 .elementor-element.elementor-element-3eb04c8.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;fill:#76A713;color:#76A713;}.elementor-431 .elementor-element.elementor-element-3eb04c8.elementor-view-framed .elementor-icon, .elementor-431 .elementor-element.elementor-element-3eb04c8.elementor-view-default .elementor-icon{fill:#FFFFFF;color:#FFFFFF;border-color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-3eb04c8.elementor-view-framed .elementor-icon{background-color:#76A713;}.elementor-431 .elementor-element.elementor-element-3eb04c8{--icon-box-icon-margin:4px;}.elementor-431 .elementor-element.elementor-element-3eb04c8 .elementor-icon{font-size:34px;}.elementor-431 .elementor-element.elementor-element-3eb04c8 .elementor-icon-box-title{margin-bottom:6px;color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-3eb04c8 .elementor-icon-box-title, .elementor-431 .elementor-element.elementor-element-3eb04c8 .elementor-icon-box-title a{font-family:"Lora", Sans-serif;font-size:26px;font-weight:700;line-height:32px;}.elementor-431 .elementor-element.elementor-element-3eb04c8 .elementor-icon-box-description{color:#FFFFFF;font-family:"Barlow", Sans-serif;font-size:18px;font-weight:400;line-height:24px;}.elementor-431 .elementor-element.elementor-element-3eb04c8 > .elementor-widget-container{padding:045px 0px 045px 0px;border-radius:0px 0px 0px 0px;}.elementor-431 .elementor-element.elementor-element-ae789f6 > .elementor-element-populated{margin:0px 010px 0px 010px;--e-column-margin-right:010px;--e-column-margin-left:010px;}.elementor-431 .elementor-element.elementor-element-76d0b0a.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;fill:#76A713;color:#76A713;}.elementor-431 .elementor-element.elementor-element-76d0b0a.elementor-view-framed .elementor-icon, .elementor-431 .elementor-element.elementor-element-76d0b0a.elementor-view-default .elementor-icon{fill:#FFFFFF;color:#FFFFFF;border-color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-76d0b0a.elementor-view-framed .elementor-icon{background-color:#76A713;}.elementor-431 .elementor-element.elementor-element-76d0b0a{--icon-box-icon-margin:4px;}.elementor-431 .elementor-element.elementor-element-76d0b0a .elementor-icon{font-size:34px;}.elementor-431 .elementor-element.elementor-element-76d0b0a .elementor-icon-box-title{margin-bottom:6px;color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-76d0b0a .elementor-icon-box-title, .elementor-431 .elementor-element.elementor-element-76d0b0a .elementor-icon-box-title a{font-family:"Lora", Sans-serif;font-size:26px;font-weight:700;line-height:32px;}.elementor-431 .elementor-element.elementor-element-76d0b0a .elementor-icon-box-description{color:#FFFFFF;font-family:"Barlow", Sans-serif;font-size:18px;font-weight:400;line-height:24px;}.elementor-431 .elementor-element.elementor-element-76d0b0a > .elementor-widget-container{padding:045px 0px 045px 0px;border-radius:0px 0px 0px 0px;}.elementor-431 .elementor-element.elementor-element-ff8705c > .elementor-element-populated{margin:0px 0px 0px 20px;--e-column-margin-right:0px;--e-column-margin-left:20px;}.elementor-431 .elementor-element.elementor-element-70a6f4b.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;fill:#76A713;color:#76A713;}.elementor-431 .elementor-element.elementor-element-70a6f4b.elementor-view-framed .elementor-icon, .elementor-431 .elementor-element.elementor-element-70a6f4b.elementor-view-default .elementor-icon{fill:#FFFFFF;color:#FFFFFF;border-color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-70a6f4b.elementor-view-framed .elementor-icon{background-color:#76A713;}.elementor-431 .elementor-element.elementor-element-70a6f4b{--icon-box-icon-margin:4px;}.elementor-431 .elementor-element.elementor-element-70a6f4b .elementor-icon{font-size:34px;}.elementor-431 .elementor-element.elementor-element-70a6f4b .elementor-icon-box-title{margin-bottom:6px;color:#FFFFFF;}.elementor-431 .elementor-element.elementor-element-70a6f4b .elementor-icon-box-title, .elementor-431 .elementor-element.elementor-element-70a6f4b .elementor-icon-box-title a{font-family:"Lora", Sans-serif;font-size:26px;font-weight:700;line-height:32px;}.elementor-431 .elementor-element.elementor-element-70a6f4b .elementor-icon-box-description{color:#FFFFFF;font-family:"Barlow", Sans-serif;font-size:18px;font-weight:400;line-height:24px;}.elementor-431 .elementor-element.elementor-element-70a6f4b > .elementor-widget-container{padding:045px 0px 045px 0px;border-radius:0px 0px 0px 0px;}.elementor-431 .elementor-element.elementor-element-05c128e > .elementor-container{max-width:1172px;}.elementor-431 .elementor-element.elementor-element-fa4e416{--spacer-size:70px;}.elementor-431 .elementor-element.elementor-element-817bdfa{text-align:center;}.elementor-431 .elementor-element.elementor-element-817bdfa .elementor-heading-title{color:#76A713;font-family:"Architects Daughter", Sans-serif;font-size:24px;font-weight:400;line-height:20px;}.elementor-431 .elementor-element.elementor-element-f8929ba{text-align:center;}.elementor-431 .elementor-element.elementor-element-f8929ba .elementor-heading-title{color:#191919;font-family:"Lora", Sans-serif;font-size:40px;font-weight:700;}.elementor-431 .elementor-element.elementor-element-f5f9bbf > .elementor-container{max-width:780px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group{padding-right:calc( 30px/2 );padding-left:calc( 30px/2 );margin-bottom:15px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-form-fields-wrapper{margin-left:calc( -30px/2 );margin-right:calc( -30px/2 );margin-bottom:-15px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group.recaptcha_v3-bottomleft, .elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-431 .elementor-element.elementor-element-456e97b .elementor-labels-inline .elementor-field-group > label{padding-left:4px;}body:not(.rtl) .elementor-431 .elementor-element.elementor-element-456e97b .elementor-labels-inline .elementor-field-group > label{padding-right:4px;}body .elementor-431 .elementor-element.elementor-element-456e97b .elementor-labels-above .elementor-field-group > label{padding-bottom:4px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group > label, .elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-subgroup label{color:#191919;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group > label{font-family:"Barlow", Sans-serif;font-size:16px;font-weight:500;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-type-html{padding-bottom:0px;color:#7A7A7A00;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group .elementor-field{color:#545454;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group .elementor-field, .elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-subgroup label{font-family:"Barlow", Sans-serif;font-size:14px;font-weight:400;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#EFEFEF;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-field-group .elementor-select-wrapper select{background-color:#EFEFEF;border-width:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-button{font-family:"Barlow", Sans-serif;font-size:15px;font-weight:700;border-radius:50px 50px 50px 50px;}.elementor-431 .elementor-element.elementor-element-456e97b .e-form__buttons__wrapper__button-next{background-color:#FF7800;color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-button[type="submit"]{background-color:#FF7800;color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .e-form__buttons__wrapper__button-next:hover{background-color:#CC6000;color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-button[type="submit"]:hover{background-color:#CC6000;color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b .e-form__buttons__wrapper__button-previous:hover{background-color:#FF7800;color:#ffffff;}.elementor-431 .elementor-element.elementor-element-456e97b{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}/* Start custom CSS for icon-box, class: .elementor-element-3eb04c8 */#contact-box-icon .elementor-widget-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url(https://haizgia.github.io/wp_ck/wp-content/uploads/2022/10/bg-fancybox1.png);
    background-color: #76a713;
    z-index: -1;
    border-radius: 50px 0 50px 0;
    transition: .3s cubic-bezier(.24,.74,.58,1);
}
#contact-box-icon .elementor-widget-container:hover:before {
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    border-radius: 40px 0 40px 0;
}

#contact-box-icon .elementor-widget-container:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    transition: .3s cubic-bezier(.24,.74,.58,1);
    opacity: 0;
    border-radius: 50px 0 50px 0;
    border: 4px dotted #76a713;
}

#contact-box-icon .elementor-widget-container:hover:after {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-76d0b0a */#contact-box-icon .elementor-widget-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url(https://haizgia.github.io/wp_ck/wp-content/uploads/2022/10/bg-fancybox1.png);
    background-color: #76a713;
    z-index: -1;
    border-radius: 50px 0 50px 0;
    transition: .3s cubic-bezier(.24,.74,.58,1);
}
#contact-box-icon .elementor-widget-container:hover:before {
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    border-radius: 40px 0 40px 0;
}

#contact-box-icon .elementor-widget-container:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    transition: .3s cubic-bezier(.24,.74,.58,1);
    opacity: 0;
    border-radius: 50px 0 50px 0;
    border: 4px dotted #76a713;
}

#contact-box-icon .elementor-widget-container:hover:after {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-70a6f4b */#contact-box-icon .elementor-widget-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url(https://haizgia.github.io/wp_ck/wp-content/uploads/2022/10/bg-fancybox1.png);
    background-color: #76a713;
    z-index: -1;
    border-radius: 50px 0 50px 0;
    transition: .3s cubic-bezier(.24,.74,.58,1);
}
#contact-box-icon .elementor-widget-container:hover:before {
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    border-radius: 40px 0 40px 0;
}

#contact-box-icon .elementor-widget-container:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    bottom: 19px;
    left: 19px;
    transition: .3s cubic-bezier(.24,.74,.58,1);
    opacity: 0;
    border-radius: 50px 0 50px 0;
    border: 4px dotted #76a713;
}

#contact-box-icon .elementor-widget-container:hover:after {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-456e97b */#contact-form .elementor-field{
    box-shadow: none;
    padding: 6px 24px;
    line-height: 44px;
}

#contact-form .elementor-button{
    margin-top: 26px;
    transition: all 200ms linear 0ms;
}/* End custom CSS */